.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    animation: fadeIn 1.5s ease-out;

}

.hero h1 {
    font-size: max(4vw, 36px);
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #00bcd4, #ff00f4); /* Subtle gradient from cyan to pink */
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 1px rgba(0, 188, 212, 0.7), 0 0 8px rgba(255, 0, 244, 0.5);
    margin-bottom: 20px;

}

.hero p {
    width: 75%;
    color: #bbb;
    line-height: 1.5;
}

.hero form {
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
}

.hero input{
    flex: 1;
    padding: 12px;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.hero input::placeholder {
    color: #bbb;
}

.hero input:focus {
    background-color: #0c0b0b;
    box-shadow: 0 0 8px #ff00f4, 0 0 10px #00bcd4;
}


.hero button {
    border: none;
    background: #7800d4;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover{
    background: #a200d4;
}

.crypto-table {
    max-width: 900px;
    margin: auto;
    background: linear-gradient(135deg, rgba(42, 144, 255, 0.1), rgba(255, 0, 244, 0.1));
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
    animation: fadeIn 1.5s ease-out;
  }
  
  .table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr 1.5fr 2fr;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
  }
  
  .table-layout:last-child {
    border-bottom: none;
  }
  
  .table-layout:hover {
    background-color: rgba(255, 0, 244, 0.1);
  }
  
  .table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .table-layout div img {
    width: 35px;
    transition: transform 0.3s ease;
  }
  
  .table-layout div img:hover {
    transform: scale(1.1);
  }
  
  .market-cap {
    text-align: right;
  }
  
  .table-layout .green {
    color: #00D515;
    text-align: center;
  }
  
  .table-layout .red {
    color: #ff4646;
    text-align: center;
  }
  
  .table-layout p {
    color: #ccc;
    font-size: 16px;
  }
  
  .table-layout p:hover {
    color: #fff;
  }
  
  @media (max-width: 750px) {
    .table-layout {
      grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap {
      display: none;
    }
  }
  
  @media (max-width: 515px) {
    .table-layout div img {
      width: 20px;
    }
    .table-layout div p {
      font-size: 10px;
    }
    .table-layout p {
      font-size: 10px;
    }
    .table-layout {
      font-size: 13px;
    }
    .hero form input {
      width: 100px;
    }
  }
  
  @media (max-width: 420px) {
    .hero h1 {
      font-size: 28px;
    }
    .hero p {
      font-size: 14px;
    }
    .hero form input::placeholder {
      font-size: 14px;
    }
  }
  
  @media (max-width: 360px) {
    .table-layout div img {
      width: 20px;
    }
    .table-layout div p {
      font-size: 10px;
    }
    .table-layout p {
      font-size: 7px;
    }
    .table-layout {
      font-size: 12px;
    }
    .hero form input {
      width: 100px;
    }
    .hero form input::placeholder {
      font-size: 15px;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }